.auth-nav {
    @media screen and (max-width:768px) {
        &{display: none;}
    &--mobile{  
        display: flex;
        flex-direction: column-reverse;
        gap: 32px;
        padding-bottom: 32px;
    }
    &__link--mobile{
        color: getColor(primary-text);
        font-size: 24px;
        line-height: 1.16;
    }
    &__link-accent--mobile{
        color: getColor(accent);
        font-size: 34px;
        line-height: 1.18;
    }
    &__icon--mobile{
        display: none;
    }
}
    @media screen and (min-width:768px) {
        display: flex;
        flex-direction: column;
        gap: 10px;
        padding: 21px 0;
        

        &__link{
            display: flex;
            align-items: center;
            gap:8px;

            color: getColor(primary-text);
            font-size: 12px;
            line-height: 1.16;
            
            transition: color 250ms getAnimation(cub);}
    
        &__link:hover, &__link:focus { 
            color: getColor(accent);
        }
    
        &__link:hover &__icon, &__link:focus &__icon { 
            fill: getColor(accent);
        }
    
        &__icon{
            
            fill: getColor(primary-text);
            transition: fill 250ms getAnimation(cub);
        }
        
    }
        @media screen and (min-width:1200px) {
            flex-direction: row;
            padding: 0;
            gap: 40px;
        
            &__link {
            font-size: 14px;
            line-height: 1.12;  
            align-items: center;
            
            padding-top: 32px;
            padding-bottom: 32px;
            
            }
        
            }
        }
    
        
.mobile-list{
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
    padding-top: 32px;

    &__link{
        font-weight: 500;
        font-size: 18px;
        line-height: 1.22;

        color: getColor(accent);
    }

    @media screen and (min-width:768px) {
        display: none;        
    }
}
