.clients-section {
    padding-top: 60px;
    padding-bottom: 60px;

    &__title {
        margin-bottom: 30px;
        
        text-align: center;
        font-weight: 700;
        font-size: 28px;
        line-height: 1.14;
        color: getColor(primary-title);
    }

    &__list {
        display: flex;
        flex-wrap: wrap;
        margin: -15px;}
    
    &__item{
        width: calc((100% - 4 * 15px) / 2);
        margin:  15px;}
    
    &__link {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 92px;
    
        border: 1px solid #AFB1B8;
        border-radius: 4px;
        
        transition: border 250ms getAnimation(cub);
        }

    &__link:hover, &__link:focus{
        border: 1px solid getColor(accent);
        border-radius: 4px; 
    }

    &__link:hover &__icon, &__link:focus &__icon{
        fill: getColor(accent);
    }

    &__icon{
        fill: #AFB1B8;
        transition: fill 250ms getAnimation(cub);
    }

    @media screen and (min-width: 768px){
        &__list{
            display: flex;
            flex-wrap: wrap;
            margin: -15px;}
    
        &__item{
            width: calc((100% - 6 * 15px) / 3);
            margin:  15px;}
        }
    
        
    
    @media screen and (min-width:1200px) {
        padding-top: 94px;
        padding-bottom: 94px;

        &__title{
            margin-bottom: 50px;
        
            font-size: 36px;
            line-height: 1.16;
        }
        &__list{
            flex-wrap: nowrap;
            margin: 0;
            gap: 30px;}

        &__item{
            margin:  0px;
        }
    }
}
