.header{
        position: relative;
        border-bottom: 1px solid #ECECEC;


    &-nav{
        
        display: flex; 
        align-items: center;
        gap:  85px;
        @media screen and (max-width:768px) {
            justify-content: space-between;
        }
        @media screen and (min-width:1200px) {
            gap: 305px;
        }
        }

    &__logo{
        color: getColor(accent);
        font-size: 26px;
        line-height: 1.19;
        font-family: "Raleway", sans-serif;
        font-weight: 700;
        
    @media screen and (min-width:768px) {
        margin-right: 85px;
    }
    @media screen and (min-width:1200px) {
        margin-right: 95px;
    }
    }

    &__logo-accent{
        color: #000;
    }

    .flex &__logo{
        padding: 16px 0;
        
        
        @media screen and (min-width: 768px){
            padding: 26px 0 26px 0;
        }

        @media screen and (min-width: 1200px){
            padding: 24px 0 25px 0;
        }
        }
}

.menu-button{
    display: inline-flex;
    margin: 0;
    padding: 0;
    border: none;
    background-color: transparent;
    z-index: 2;

    transition: fill 250ms getAnimation(cub);

    &:hover, &:focus{
        fill: getColor(accent);
    }
    
    
    & .icon-menu{
    display: none;
    }

    &.is-open .icon-menu{
        display: block;
    } 

    &.is-open .icon-close-menu{
        display: none;
    }

    @media screen and (min-width:768px) {
        &{display: none;}

        & .icon-menu{
            display: block;
            }
    }
}

.menu-container{
    display: none;
    @media screen and (max-width:768px) {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    overflow: auto;
    z-index: 1;

    padding: 48px 40px;
    background-color: getColor(primary-white);

    &.is-open{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
    
}
}


